<div class="chatbot-container">
  <div class="chatbot-window">
    <div class="chat-message" *ngFor="let message of chatMessages$ | async; trackBy: trackByFn">
      <div [ngClass]="{'user-message': message.isUser, 'bot-message': !message.isUser}">
        {{ message.text }}
      </div>
    </div>
  </div>
  <div class="user-input">
    <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Type your message...">
    <button (click)="sendMessage()">Send</button>
    <button class="mic-button" (click)="startListening()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mic"><path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"/><path d="M19 10v2a7 7 0 0 1-14 0v-2m7 9v4m-4 0h8"/></svg>
    </button>
  </div>
</div>
